<h1> <%= @language.name %> </h1>

<% if @language.lessons %>
  <% @language.lessons.each do |lesson| %>
    <li><%= link_to lesson.name, language_lesson_path(lesson.language_id, lesson.id) %></li>
  <% end %>
<% end %>
